/*
:root {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;  1 rem = 16 px 
    --color-primary: white;
    --color-secondary: pink;
    --color-font:black;
}
*/

html, body {
    width: 100%;
    padding: 3rem;
    font-family: 'Quicksand', sans-serif;
}
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26rem;
    height: 26rem;
    border-radius: 50%;
   /*  background-color: var(--color-secondary) */
   background-color: pink;
   position:relative;


}

.circle::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
  /*  background-color:var(--color-primary) ; */
  background-color: hotpink;
}

.time {
    position:relative;
    display: flex;
    flex-direction: row;
}

.time p {
    font-size: 8rem;

}

.timer {
    display: flex;
}